<div ng-include="'partials/navbar'"></div>

<div ng-app="solaceInput" class="jumbotron">
	<form name="solaceForm" ng-controller="solaceCtrl as sc" ng-submit="sc.addSolace(solace.body)">
		<textarea ng-model="solace.body" class="form-control" placeholder="Please enter your thoughts" title="Solace"></textarea>
		<input type="submit" class="btn btn-primary pull-right" value="Add" />
	</form>
  <h1><span ng-show="currentUser">{{ currentUser.name }}</span></h1>
  <p class="lead">
  </p>
</div>

<div class="row marketing">
  <div ng-repeat="thing in awesomeThings">
      <h4>{{thing.name}}</h4>
      <p>{{thing.info}}</p>
  </div>
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
